
.body .clearfix .show-tick{
    
         display: none; 

}
.error{
    color: #ff0000;
    
}
.cls-page-pagination{
    text-align: center;
    
}
.header{
    display:flex;
}
.header_titme{
    background-color: #dad8d8;
    padding: .5%;
}
.circlewidth{
        font-size: 20px;

}
#searchData{
    display:none;
}

.cls-text-section{
    display: flex;
}
  body .priotout-page-font{ 
            font-size: 11px;
        }
        .priotout-page-font{
            padding:30px;
        }
        .supplier_details h6{
            background-color: #d1d1d1;
        }
        .printoutpage-cls table td, .printoutpage-cls  table th {
                padding: 0.45rem;

        }
        .supplier_total_amount_word{
                border: 1px solid black;

        }
       .row .newcls{
           border: 1px solid #313131;
           padding-right: 0px;
           padding-left: 0px;
           margin-left: 5px;
        }
        #search_sales_Data{
            display: none;
        }
       .table-responsive  tbody  .CheckBox{
           left: 45px;
           opacity: 1;
       }
      .theme-orange .authentication .card .header {
      background: linear-gradient(
45deg, #e8786b, #dc7366);
}
.cls_login_msg{
        margin-left: 30%;

}